body{
    background-color: #ecf0f1;
}
.title-container{
    width: 50.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 20px 350px 0 350px;
    border-radius: 10px 10px 0 0;
    height: 40px;
}
.font{
    padding: 10px;
   
}
.form-container{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    margin: 0px 350px;
    border-radius: 0 0 10px 10px ;
    height: 640px;
    padding: 10px 0 10px 10px;
    
}

.inline{
    height: 25px;
    width: 300px;
    outline: none;
    margin: 1px 10px 5px 0;
    background-color: #f7f1e3;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    
}
.btn1{
    background-color: #1e90ff;
    color: white;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.btn2 {
    background-color: red;
    color: white;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;

}
.inline1{
    height: 40px;
    width: 627px;
    outline: none;
    background-color: #f7f1e3;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    
}
